	


<div class="container">
<div class="row">
<div class="col-sm">Origin Airport</div>
<div class="col-sm">Destination Airport</div>
<div class="col-sm">powered by in memory search</div>
</div>
  <div class="row">
    <div class="col-sm">
      <app-searchbox name="sourceAirport" (selectedOutput)="sourceSelected($event)"></app-searchbox>
    </div>
    <div class="col-sm">
      <app-searchbox name="destinationAirport" (selectedOutput)="destinationSelected($event)"></app-searchbox>
    </div>
    <div class="col-sm">
      <button class="btn btn-lg btn-success" (click)="getRoute()">Search</button>
    </div>
  </div>
</div>


