

<div class="container mt-5">
 <div *ngFor="let route of routes">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{route.destinationAirportName}} {{route.flightFare}} EUR only!</h5>
        <p class="card-text">Depart at {{route.departureDateTime}}, arrive by {{route.arrivalDateTime}} in {{route.destinationAirportCountry}}</p>
        <a href="#" class="btn btn-primary" [routerLink]="['/purchase/', route.routeId]">Enjoy'{{route.destinationAirportCountry}}'</a>
      </div>
    </div>
  </div>
</div>

